<ion-content class="modal-wrapper">
  <div class="modal-header">
    <h2>Trash Report</h2>
  </div>

  <div class="modal-body">
    <ion-item>
      <p>trash collected here</p>
      <span>description of trash</span>
    </ion-item>
  </div>

  <div class="modal-footer">
    <ion-button expand="block" color="medium" (click)="dismiss()" size="small"
      >Cancel</ion-button
    >
    <ion-button expand="block" color="primary" (click)="confirm()" size="small"
      >Confirm</ion-button
    >
  </div>
</ion-content>
