<ion-toolbar>
  <div class="toolbar-content">
    <div class="left-section">
      <ion-img
        src="assets/icon/trash-mapper.png"
        alt="logo"
        class="img-logo"
      ></ion-img>

      <p>Trash Report</p>
    </div>

    <div class="right-section">
      <ion-button size="small " fill="clear" color="light">
        <ion-icon
          slot="icon-only"
          ios="notifications-outline"
          md="settings-sharp"
        ></ion-icon>
      </ion-button>
      <ion-button size="small" fill="clear" color="light">
        <ion-icon slot="icon-only" ios="search" md="settings-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-toolbar>
