<ion-toolbar>
  <div class="toolbar-content">
    <div class="left-section">
      <ion-img
        src="assets/icon/trash-mapper.png"
        alt="logo"
        class="img-logo"
      ></ion-img>

      <p>Trash Report</p>
    </div>

    <div class="right-section">
      <ion-button size="small " fill="clear" color="light">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="clear" color="light">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-toolbar>
